Package: ft-server
Version: 1.0
Provides: ftserver
Maintainer: Aracely Tawana
Architecture: amd64
Section: contrib
Description: short description
Depends: nginx, php, php7.3-fpm, php7.3-common, mariadb-server, php-mysql, php-fpm, unzip, openssh-server, ssh, wget, zsh, vim, git
Conflicts: apache2, apache2-bin, apache2-data
Replaces: php7.3-fpm, php, nginx, nginx-common, mariadb-server 
